<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>HY_jingrong</string>
		<key>name</key>
		<string>金融/投融资</string>
		<key>state</key>
		<string>私募股权投资、证券期货、融资租赁</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_jiangzhu</string>
		<key>name</key>
		<string>建筑地产</string>
		<key>state</key>
		<string>地产开发、建筑公司、房地产服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_IT</string>
		<key>name</key>
		<string>IT互联网</string>
		<key>state</key>
		<string>计算机软件、计算机硬件、电子/电器/半导体/仪器仪表</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_yingyun</string>
		<key>name</key>
		<string>营运/制造</string>
		<key>state</key>
		<string>电子电器、设备制造、家具家装</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_zhuangye</string>
		<key>name</key>
		<string>专业服务</string>
		<key>state</key>
		<string>人力资源、顾问/咨询、教育培训/学习成长</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_zhiyao</string>
		<key>name</key>
		<string>医药/健康</string>
		<key>state</key>
		<string>制药、医疗服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_nongye</string>
		<key>name</key>
		<string>农林牧渔</string>
		<key>state</key>
		<string>农、林、牧、渔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_xiaofei</string>
		<key>name</key>
		<string>消费服务类</string>
		<key>state</key>
		<string>批发零售、食品饮料、住宿餐饮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_jiaotong</string>
		<key>name</key>
		<string>交通运输/物流仓储</string>
		<key>state</key>
		<string>客运、物流、道路服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_nengyuan</string>
		<key>name</key>
		<string>能源/化工</string>
		<key>state</key>
		<string>能源采集与加工、化学工程</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_hangkong</string>
		<key>name</key>
		<string>航空/汽车</string>
		<key>state</key>
		<string>汽车制造与服务、航空服务</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_wenhua</string>
		<key>name</key>
		<string>文化/创意/体育/媒体</string>
		<key>state</key>
		<string>文化艺术、新闻出版</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_zhengfu</string>
		<key>name</key>
		<string>政府/院校/社团</string>
		<key>state</key>
		<string>政府机构、院校、公益组织</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HY_zonghe</string>
		<key>name</key>
		<string>综合企业集团</string>
		<key>state</key>
		<string>拥有多产业、多生产经营</string>
	</dict>
</array>
</plist>
